h1 {
    color: black;
    font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, 宋体,sans-serif;
    text-align: center;
}

h2 {
    color: black;
    font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, 宋体,sans-serif;
    width:90%;
    margin:20 auto;
}

p, li, h3, h4{
    color: black;
    width:90%;
    margin:10 auto 20 auto;
    font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, 宋体,sans-serif;
    font-size: 0.5cm;
}

.input {
    color: black;
    font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, 宋体,sans-serif;
    font-size: 0.4cm;
}

input[type="button"] {
    color: black;
    font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, 宋体,sans-serif;
    font-size: 0.6cm;
}

.center {
    text-align: center;
    width: 100%;
}

.control {
    color: black;
    font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, 宋体,sans-serif;
    font-size: 0.4cm;
}