html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0px;
    width: 100%;
    height: 100%;
}

header {
    padding: 1em;
    color: white;
    background: #8c1d40;
    clear: none;
    text-align: center;
}

footer {
    color: black;
    background: #ffc267;
    clear: none;
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 13px 0px;
}

#container {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

#controls {
    width: 400px;
    height: 600px;
    border: 1px solid black;
}

#simulator{
    border: 1px solid black;
    width: 400px;
    height: 600px;
    background: #eeeeee;
}
